:root{
    --shadow-color: #F35427;
    --banner-color: #FF693D;
    --whychoose-color: #FFF0E9;
    --test-color: #FFF0CB;
    --login-color: #F0F0F0;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
p{
    margin: 0;
}